.wrapper {
  margin: 0 auto;
  width: 600px;

  position: relative; /* для ширины */
}

.content {
  width: 70%;
  margin-left: 30%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}