@import "variables";
.wrapper {
  margin: 0 auto;
  width: 600px;

  position: relative; /* для ширины */
}

@include respond-to(desktop) {
  .content {
    width: 70%;
    margin-left: 30%;
  }
}



.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}