.wrapper {
    margin: 0 auto;
    width: 600px;
}

.menu_top ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex; /* NEW новое свойство CSS3 */
    flex-wrap: wrap; /* NEW если закомментировать, то элементы будут ужаты до такой степени,
    чтобы остаться на одной строке */
}

.menu_top li {
    padding: 5px;
    border: 1px black solid;
}