@charset "UTF-8";

/* line 2, ../scss/main.scss */

.wrapper {
  margin: 0 auto;
  width: 600px;
  position: relative;
  /* для ширины */
}

@media only screen and (min-width: 801px) {
  /* line 10, ../scss/main.scss */

  .content {
    width: 70%;
    margin-left: 30%;
  }
}

/* line 18, ../scss/main.scss */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 24, ../scss/main.scss */

.clearfix:after {
  clear: both;
}
@charset "UTF-8";

/* line 3, ../scss/sidebar.scss */

.left-sidebar {
  width: 30%;
  position: absolute;
}

/* line 8, ../scss/sidebar.scss */

.left-sidebar ul {
  /* сбрасываем поля и отступы у списков */
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  /* Для того чтобы элементы были написаны в 1 строку */
}

/* line 16, ../scss/sidebar.scss */

.left-sidebar > ul > li {
  /* 1 level */
  background: #fffa6e;
}

/* line 19, ../scss/sidebar.scss */

.left-sidebar > ul ul > li {
  /* 2 level */
  background: #f2ffe8;
}

/*///////////////////////////////////////*/

@media only screen and (min-width: 801px) {
  /* line 25, ../scss/sidebar.scss */

  .left-sidebar > ul > li {
    /* 1 уровень */
    /*float: left;*/
    /* CHANGED теперь не надо делать меню 1-го уровня в одну линию */
    border: 1px solid #222;
  }

  /* line 30, ../scss/sidebar.scss */

  .left-sidebar > ul li ul {
    /* Прячем все меню ниже 1 уровня */
    display: none;
    position: absolute;
  }

  /* Если без JS, то раскомментировать */

  /*.left-sidebar > ul li:hover > ul { /!* Показываем все меню при наведении на родительский li, которые находятся ниже 1 уровня*!/*/

  /*display: block;*/

  /*}*/

  /* line 40, ../scss/sidebar.scss */

  .left-sidebar ul li {
    position: relative;
    /* Для того чтобы top:0 для меню >=2 уровня выравнивал по li, а не по ul */
  }

  /* line 44, ../scss/sidebar.scss */

  .left-sidebar > ul ul {
    /* Начиная с 2-го уровня размещать списки справа от родительского li */
    top: 0;
    left: 100%;
  }
}

@media only screen and (max-width: 800px) {
  /* line 52, ../scss/sidebar.scss */

  .left-sidebar {
    position: fixed;
    left: -60%;
    width: 60%;
    height: 100%;
    z-index: 1;
    transition: left 0.7s ease-out 0.1s;
  }

  /* line 60, ../scss/sidebar.scss */

  .left-sidebar.active {
    left: 0;
  }

  /* line 64, ../scss/sidebar.scss */

  .left-sidebar a {
    display: block;
  }

  /* line 68, ../scss/sidebar.scss */

  .left-sidebar > ul li ul {
    display: none;
    position: static;
  }

  /* line 73, ../scss/sidebar.scss */

  .left-sidebar > ul ul {
    top: 100%;
    left: 0;
  }
}