.wrapper {
    margin: 0 auto;
    width: 600px;
}

.menu_top ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu_top li {
    display: inline-block;
    /*display: inline;*/
    padding: 5px;
    border: 1px black solid;
}