$small: 1000px;
$left-swipe-area-width: 15%;
$header-height: 50px;
$extra-width-li: 60%;

$z-index_left-sidebar: 1;
$z-index_left-swipe-area: 2;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $small) { @content; }
  }
    //@else if $media == medium-screens {
    //  @media only screen and (min-width: $small + 1) and (max-width: $large - 1) { @content; }
    //}
  @else if $media == desktop {
    @media only screen and (min-width: $small + 1) { @content; }
  }
}