@import "variables";
@import "compass/reset";
@import "fonts";

* {
  box-sizing: border-box;
}
.wrapper {
  margin: 0 auto;
  max-width: 968px;

  position: relative; /* для ширины */
}


body {
  font-size: 1rem;
  padding-top: ($height_header + 5px);
  //font-size: 16px;
}

.content {
  @include respond-to(desktop) {
    width: 70%;
    margin-left: 30%;
  }
  @include respond-to(mobile) {
    margin-left: $left-swipe-area-width;
  }
}


.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

