.wrapper {
    margin: 0 auto;
    width: 600px;
}

.menu_top ul {
    padding: 0;
    margin: 0;
    list-style: none;

    white-space: nowrap;
}

.menu_top > ul > li {
    float: left;
    padding: 5px;
    border: 1px black solid;
    background: #fffa6e;

    position: relative;
}

.menu_top > ul > li > ul {
    display: none;
    position: absolute; /* Если не будет absolute, то все элементы будут строиться внутри существующего*/

    background: #f2ffe8;
}

.menu_top > ul > li:hover > ul {
    display: block;

    z-index: 1;
    left: 50%; /* наше любимое свойство */
    transform: translateX(-50%);
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
